@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');



body {
    color: rgb(9, 9, 9);
    font-family: 'Montserrat', sans-serif;
}

main {
    padding-top: 50px;
}

.container.text-center,
.filters {
    padding-top: 20px;
    padding-bottom: 30px;
}

.whatsapp {
    background-color: #25D366;
}

.cards {
    background-color: #f79e1b;
}

.delivery {
    background-color: #f79e1b;
}

.card {
    width: 18rem;
}

.card-title {
    font-weight: 700;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.navbar-afu {
    background-color: #81D742;
}

.btn-afu {
    background-color: #81D742;
    border-color: #81D742;
}

.btn-afu:hover {
    background-color: #5A838F;
    border-color: #5A838F;

}

.dropdown-toggle:active,
.open .dropdown-toggle {
    background: #5A838F !important;
    color: #000 !important;
}