@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');



body {
    color: rgb(9, 9, 9);
    font-family: 'Montserrat', sans-serif;
}

.container.text-center,
.filters {
    padding-top: 20px;
    padding-bottom: 30px;
}

.whatsapp {
    background-color: #25D366;
}

.cards {
    background-color: #f79e1b;
}

.delivery {
    background-color: #f79e1b;
}

.card-title {
    font-weight: 700;
}

.card.shadow-lg {
    width: 20rem;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}