@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
    --customRed: #E50914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: rgb(9, 9, 9);
    font-family: 'Montserrat', sans-serif;
}

.container.text-center,
.filters {
    padding-top: 20px;
}

.whatsapp {
    background-color: #25D366;
}

.cards {
    background-color: #f79e1b;
}

.delivery {
    background-color: #f79e1b;
}

.card-title {
    font-weight: 700;
}

.card.shadow-lg {
    width: 20rem;
}